/* Styles for the entire page */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Styles for the heading */

h1 {
    background-color: var(--main-color);
    color: #fff;
    padding: 8px;
    margin: 100px 0;
    text-align: center;
}

/* Styles for the car image */

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    padding: 20px;
}

.image-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-list li {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    position: relative;
}

.image-list li img {
    display: block;
    max-width: 100%;
}

.image-list li .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-color);
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.image-list li:hover .caption {
    opacity: 1;
}


.ui-button{
    display: flex;
    text-decoration: none;
    justify-content: center;
    color: white;
    background-color: var(--main-color);
    padding: 20px;
}

.car-info {
    display: flex;
    gap: 18rem;
    margin: auto;
    justify-content: center;
}
/* Styles for the car information section */

h2 {
    color: var(--main-color);
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

strong {
    display: inline-block;
    width: 100px;
}

/* Styles for the car features section */

ul:last-of-type {
    margin-bottom: 20px;
}

/* Styles for the car description section */

p {
    line-height: 1.5;
    margin: 20px 4rem;
    letter-spacing: 1.2px;
}
