<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/index.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Car Shop</title>
</head>

<body>

    <header>
        <div class="nav container">

            <i class='bx bx-menu' id="menu-icon"></i>

            <a href="#" class="logo">Car <span>Point</span></a>

            <ul class="navbar">
                <li><a href="#home" class="active">Home</a></li>
                <li><a href="#cars">Cars</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#parts">Parts</a></li>
                <li><a href="#blog">Out Blog</a></li>
            </ul>

            <i class='bx bx-search' id="search-icon"></i>

            <div class="search-box container">
                <input type="search" name="" id="" placeholder="Search here...">
            </div>

        </div>
    </header>

    <section class="home" id="home">
        <div class="home-text">
            <h1>We Have Everything <br>Your <span>Car</span> Need</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error deleniti <br> tempore, molestiae iste
                velit corporis
            </p>

            <a href="#" class="btn">Discover Now</a>
        </div>
    </section>

    <section class="cars" id="cars">
        <div class="heading">
            <span>All Cars</span>
            <h2>We have all types cars</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, consequatur.</p>
        </div>

        <div class="cars-container container">
            <div class="box">
                <img src="/static/image/car3.jpg" alt="">
                <h2>Porsche Car</h2>
            </div>
            <div class="box">
                <img src="/static/image/car4.jpg" alt="">
                <h2>Car Car</h2>
            </div>
            <div class="box">
                <img src="/static/image/car5.jpg" alt="">
                <h2>Car Car</h2>
            </div>
            <div class="box">
                <img src="/static/image/honda-civic.jpg" alt="">
                <h2>Car Car</h2>
            </div>
            <div class="box">
                <img src="/static/image/rols.jpg" alt="">
                <h2>Toyota Car</h2>
            </div>
            <div class="box">
                <img src="/static/image/rols.jpg" alt="">
                <h2>Toyota Car</h2>
            </div>
        </div>

    </section>

    <section class="about container" id="ab">
        <div class="about-img">
            <img src="/static/image/honda-civic.jpg" alt="">
        </div>
        <div class="about-text">
            <span>About Us</span>
            <h2>Cheap price with <br>Quality Cars</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit, animi.</p>
            <a href="#" class="btn">Learn More</a>
        </div>
    </section>

    <section class="footer">
        <div class="footer-container container">
            <div class="footer-box">
                <a href="#" class="logo">Car <span>Point</span></a>
                <div class="social">
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-instagram'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                </div>
            </div>
            <div class="footer-box">
                <h3>Page</h3>
                <a href="#">Home</a>
                <a href="#">Cars</a>
                <a href="#">Sales</a>
            </div>
            <div class="footer-box">
                <h3>Legal</h3>
                <a href="#">Privacy</a>
                <a href="#">Refund Policy</a>
                <a href="#">Cookie Policy</a>
            </div>
            <div class="footer-box">
                <h3>Contact</h3>
                <p>Bulgaria</p>
                <p>Germany</p>
                <p>United States</p>
            </div>
        </div>
    </section>

    <div class="copyright">
        <p>&#169; Thank you for visited my website</p>
    </div>
    <!-- Link to JS -->
    <script src="/static/main.js"></script>


</body>

</html>