<!doctype html>
<html lang="en">

<head>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Car <span>Seller</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque, turpis vitae malesuada
                ultricies, lectus tortor pharetra libero, vel molestie lorem est vitae lacus. Fusce euismod nibh ac
                velit bibendum, eget auctor elit elementum. Proin eget turpis eget velit efficitur auctor eu
                consequat mi. Morbi quis orci leo. </p>
            <p>Aliquam euismod, est non porttitor dapibus, sapien arcu accumsan mi, ut blandit enim felis id mi. Etiam
                ac enim sagittis, gravida magna a, lacinia sem. Donec lobortis mauris eu pharetra viverra. Duis
                pharetra est non est posuere, ac iaculis mauris vehicula. Nulla id ligula vel felis vestibulum
                hendrerit. Nunc id mollis nisi. Fusce eleifend justo vitae leo dictum, quis rutrum ante blandit. </p>
        </div>
        <div class="col-md-6">
            <img src="/images/logo.png" alt="Company Image" class="img-fluid rounded">
        </div>
    </div>
</div>

<footer class="bg-light text-center py-3">
    <p>Copyright &copy; 2023
        <a href="#">Car Seller</a>
    </p>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzm
        -QA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>
