<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/car-detail.css">
    <link rel="stylesheet" href="/css/index.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Car Details</title>
</head>
<body>

<header th:replace="~{/fragments/common::navigation}">

</header>

<h1>Car Details</h1>

<div th:object="${car}" class="wrapper">
    <ul class="image-list">
        <li>
            <img
                 th:each="picture : *{pictures}" th:src="${picture}" alt="Car Image">
        </li>
    </ul>

    <div class="car-info">
        <div class="car-info-details">
            <h2>Car Information</h2>

            <ul>
                <li th:text="|Make: *{make}|"><strong></strong></li>
                <li th:text="|Model: *{model}|"><strong></strong></li>
                <li th:text="|Year: *{year}" |><strong></strong></li>
                <li th:text="|Color: *{color}|"><strong></strong></li>
                <li th:text="|Price: *{price}" |><strong></strong></li>
            </ul>
        </div>
        <div class="car-info-details">

            <h2>Features</h2>
            <ul>
                <li th:text="|Transmission: *{transmission}|"></li>
                <li th:text="|Status: *{status}|"></li>
                <li th:text="|Coupe: *{coupeEnum}|"></li>
                <li th:text="|Engine: *{engineEnum}|"></li>
                <li th:text="|Kilometers: *{kilometers}|"></li>
                <li th:text="|City from: *{townName}|"></li>
                <li th:text="|Seller: *{sellerName}|"></li>
            </ul>
        </div>
    </div>

    <h2>Description</h2>
    <p th:text="*{description}"></p>

</div>

<section th:replace="~{/fragments/common::footer}">
</section>

</body>
</html>