<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/index.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Car Shop</title>
</head>

<body>

    <header th:replace="~{/fragments/common::navigation}">

    </header>

    <section class="home" id="home">
        <div class="bg-img">
            <img src="/images/homeimg.jpg">
        </div>
        <div class="home-text">
            <h1>We Have Everything <br>Your <span>Car</span> Need</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error deleniti <br> tempore, molestiae iste
                velit corporis
            </p>

            <a href="#" class="btn">Discover Now</a>
        </div>
    </section>

    <section class="cars" id="cars">
        <div class="heading">
            <span>All Cars</span>
            <h2>We have all types cars</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, consequatur.</p>
        </div>

        <div class="cars-container container">
            <div class="box">
                <img src="/images/car3.jpg" alt="car image">
                <h2>Porsche Car</h2>
            </div>
            <div class="box">
                <img src="/images/car4.jpg" alt="">
                <h2>Car Car</h2>
            </div>
            <div class="box">
                <img src="/images/car5.jpg" alt="">
                <h2>Car Car</h2>
            </div>
            <div class="box">
                <img src="/images/honda-civic.jpg" alt="">
                <h2>Car Car</h2>
            </div>
            <div class="box">
                <img src="/images/rols.jpg" alt="">
                <h2>Toyota Car</h2>
            </div>
            <div class="box">
                <img src="/images/rols.jpg" alt="">
                <h2>Toyota Car</h2>
            </div>
        </div>

    </section>

    <section class="about container" id="ab">
        <div class="about-img">
            <img src="/images/honda-civic.jpg" alt="">
        </div>
        <div class="about-text">
            <span>About Us</span>
            <h2>Cheap price with <br>Quality Cars</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit, animi.</p>
            <a href="#" class="btn">Learn More</a>
        </div>
    </section>

    <section th:replace="~{/fragments/common::footer}">

    </section>

</body>

</html>