<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/css/login.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

  <header th:replace="/fragments/common::navigation">
</header>

  <div class="login-container">
    <h1>Login</h1>
    <form th:object="${loginDTO}" action="/users/login" method="POST">

      <div th:each="error: ${#fields.errors()}" th:text="${error}" class="text-danger">Error messages</div>
  <div th:if="${isFound == false}" class="text-danger">Incorrect username or password!</div>

      <div class="form-group">
        <label for="username">Username:</label>
        <input th:field="*{username}"
               th:errorclass="bg-danger" type="text" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input th:errorclass="bg-danger" type="password" id="password" name="password" required>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>

  <section th:replace="/fragments/common::footer">
</section>

<!-- Link to JS -->
<script src="main.js"></script>
</body>
</html>
