<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

<header th:replace="~{/fragments/common::navigation}">
</header>

<main>
    <section class="profile-info">
        <div class="avatar-container">
            <img src="https://www.shutterstock.com/image-vector/man-icon-vector-260nw-1040084344.jpg"
                 alt="Profile Picture">
            <div class="form-group container-upload">
                <label for="picture">Change profile picture</label>
                <input class="upload-img" type="file" id="picture" name="picture" accept="image/*">
                <label class="upload-img-label" for="picture">Choose a Photos</label>
            </div>
            <div th:object="${user}" class="user-info">
                <h1 th:text="|Hello *{firstName} *{lastName}!|"></h1>
                <p th:text="|@*{email}|" class="username"></p>
                <p class="bio"></p>
                <ul class="user-stats">
                    <li><strong>Posts:</strong> 27</li>
                    <li><strong>Followers:</strong> 352</li>
                    <li><strong>Following:</strong> 102</li>
                </ul>
            </div>
    </section>
</main>

<section th:replace="~{/fragments/common::footer}">
</section>


</body>
</html>
